* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  inline-size: 100vw;
  block-size: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

header {
  line-height: 70px;
  text-indent: 2rem;

}

main {
  flex: 1;
  padding: 1rem;
}

footer {
  line-height: 50px;
  text-indent: 2rem;
}

@media (max-width: 425px) {
  header {
    line-height: 50px;
    text-indent: 2rem;
  }
}